@import '../variables.scss';

.footer {
    width: 100%;
}

.about_container {
    position: relative;
    background: url(../../public/images/imac.jpg) no-repeat 50%;
    background-size: cover;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.6);
        z-index: 1;
        @include mq('sp') {
            background: rgba(255,255,255,.8);
        }
    }
    .wrap {
        max-width: 1080px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        @include mq('sp') {
            width: 100%;
            padding: 0 20px;
        }
        h2 {
            position: absolute;
            top: -20px;
            left: 0;
            font-size: 4rem;
            @include mq('sp') {
                left: 20px;
                font-size: 3.4rem;
            }
        }
        .inner {
            padding: 65px 0 75px;
            @include mq('sp') {
                padding: 50px 0 60px;
            }
            p {
                width: 705px;
                line-height: 1.8;
                letter-spacing: .3px;
                font-size: 1.4rem;
                font-weight: bold;
                @include mq('sp') {
                    width: 100%;
                }
            }
            &__sns {
                margin-top: 40px;
                list-style: none;
                li {
                    display: inline-block;
                    vertical-align: baseline;
                    letter-spacing: 0;
                    color: var(--font-color);
                    font-size: 1.4rem;
                    font-weight: bold;
                    &:nth-child(1) {
                        color: var(--main-color);
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        margin-left: 30px;
                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
    }
}

.foot_main {
    &__nav {
        background: #f4f4f4;
        padding: 48px 0;
        @include mq('sp') {
            padding: 48px 0 28px 0;
        }
        .inner {
            max-width: 1080px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include mq('sp') {
                flex-direction: column;
                width: 100%;
                padding: 0 20px;
            }
            &__box {
                width: 30%;
                background: #fff;
                padding: 25px;
                @include mq('sp') {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .title {
                    font-size: 1.6rem;
                    font-weight: bold;
                    line-height: 1;
                    padding-bottom: 12px;
                    border-bottom: solid 1px #f4f4f4;
                    margin-bottom: 18px;
                }
                .list {
                    list-style: none;
                    li {
                        line-height: 2;
                        a {
                            text-decoration: none;
                            font-size: 1.4rem;
                            font-weight: bold;
                            color: var(--font-color);
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.copy {
    width: 100%;
    height: 92px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq('sp') {
        height: 70px;
    }
    p {
        padding-left: 44px;
        font-size: 1.2rem;
        font-weight: bold;
        @include mq('sp') {
            font-size: 1rem;
            font-weight: normal;
        }
    }
    .backToTop {
        cursor: pointer;
        position: relative;
        display: block;
        width: 92px;
        height: 100%;
        border-left: solid 1px #f4f4f4;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-25%) rotate(45deg);
            width: 16px;
            height: 16px;
            border-left: solid 3px #000;
            border-top: solid 3px #000;
        }
        &:hover {
            transition: .6s;
            background: rgba(0,0,0,.1);
        }
    }
}